@use '../abstratcs/' as *;

.card{
  background-color: $danger-alt;
  border-radius: rem(13);
  padding-top: rem(40);
  position: relative;
  transition: .4s;
  opacity: 0;
  @include card-bg; 
  &:not(:last-child){
    margin-bottom: rem(22);
  }
  @include breakpoint('medium'){
    &:not(:last-child){
      margin-bottom: 0;
    }
  }
  &__group{
    @include breakpoint('medium'){
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: rem(30);
    }
  }
  
  &__body{
    background-color: $darkLight;
    border-radius: 13px 13px 10px 10px;
    padding: rem(24);
    position: relative;
    height: 100%;  
    transition: background .4s;  
    &:hover{
      cursor: pointer;
      background: #35387B;
    }
  }
  &__timeframe{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: rem(16);
  }
  &__title{
    font-size: rem(18);
    margin: 0;
    font-weight: 500;
  }
  &__time{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include breakpoint('medium'){
      display: block;
    }
  }
  &__current-time{
    font-size: rem(32);
    font-weight: 300;
    display: block;
    @include breakpoint('medium'){
      font-size: rem(56);
      margin-bottom: rem(24);
    }
  }
  &__prev-time{
    font-size: rem(14);
    font-weight: 300;
    display: block;
  }
}