@use '../abstratcs/' as *;

body{
  background-color: $body-bg;
  color: $white;
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  min-height: 100vh;
  @include breakpoint('large'){
    display: flex;
    align-items: center;
  } 
}

.sr-only{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}