@use '../abstratcs/' as *;

@each $key, $value in $theme-fonts {
  @font-face {
    font-family: Rubik;
    src: 
      local('Rubik #{$value}'), local('Rubik-#{$value}'),
      url('#{$fonts-path}/Rubik/Rubik-#{$value}.ttf') format('truetype');
    font-style: normal;
    font-weight: #{$key};
    // text-rendering: optimizeLegibility;
    font-display: swap;
  }
}
