<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Time tracking dashboard">
  <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon-32x32.png">
  <title>Frontend Mentor | Time tracking dashboard</title>
</head>
<body>
  <main class="container">
    <section class="grid-section">
      <h1 class="sr-only">Time tracking dashboard</h1>
      <article class="profile">
        <div class="profile__user">
          <figure class="profile__img">
            <img width="234" height="234" src="../img/image-jeremy.png" alt="User image of Jeremy Robson">
          </figure>
          <div class="profile__info">
            <span class="profile__label">Report for</span>
            <h2 class="profile__name">Jeremy Robson</h2>
          </div>
        </div>
        <nav class="profile__nav">
          <ul class="profile__list">
            <li class="profile__item">
              <a href="#" class="profile__link" data-cat="daily">Daily</a>  
            </li>
            <li class="profile__item">
              <a href="#" class="profile__link profile__link--active" data-cat="weekly">Weekly</a>  
            </li>
            <li class="profile__item">
              <a href="#" class="profile__link" data-cat="monthly">Monthly</a>  
            </li>
          </ul>

        </nav>
      </article>
      <article class="card__group"></article>
    </section>
  </main>
</body>
</html>