<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Time tracking dashboard">
  <link rel="icon" type="image/png" sizes="32x32" href="./img/favicon-32x32.png">
  <title>Frontend Mentor | Time tracking dashboard</title>
</head>
<body>
  <main class="container">
    <section class="section-columns">
      <article class="profile">
        <div class="profile__user">
          <figure class="profile__img">
            <img width="234" height="234" src="../img/image-jeremy.png" alt="User image of Jeremy Robson">
          </figure>
          <div class="profile__info">
            <span class="profile__label">Report for</span>
            <h2 class="profile__name">Jeremy Robson</h2>
          </div>
        </div>
        <nav class="profile__nav">
          <ul class="profile__list">
            <li class="profile__item">
              <a href="#" class="profile__link" data-cat="Daily">Daily</a>  
            </li>
            <li class="profile__item">
              <a href="#" class="profile__link profile__link--active" data-cat="Weekly">Weekly</a>  
            </li>
            <li class="profile__item">
              <a href="#" class="profile__link" data-cat="Monthly">Monthly</a>  
            </li>
          </ul>

        </nav>
      </article>
      <article class="card__group">
        <div class="card card--work">
          <div class="card__body">
            <div class="card__timeframe">
              <h2 class="card__title">Work</h2>
              <figure class="card__img">
                <img width="21" height="5" src="../img/icon-ellipsis.svg" alt="Icon elipsis">
              </figure>
            </div>
            <div class="card__time">
              <span class="card__current-time">5hrs</span>
              <span class="card__prev-time">Yesterday - 7hrs</span>
            </div>
          </div>
        </div>
        <div class="card card--play">
          <div class="card__body">
            <div class="card__timeframe">
              <h2 class="card__title">Work</h2>
              <figure class="card__img">
                <img width="21" height="5" src="../img/icon-ellipsis.svg" alt="Icon elipsis">
              </figure>
            </div>
            <div class="card__time">
              <span class="card__current-time">5hrs</span>
              <span class="card__prev-time">Yesterday - 7hrs</span>
            </div>
          </div>
        </div>
        <div class="card card--study">
          <div class="card__body">
            <div class="card__timeframe">
              <h2 class="card__title">Work</h2>
              <figure class="card__img">
                <img width="21" height="5" src="../img/icon-ellipsis.svg" alt="Icon elipsis">
              </figure>
            </div>
            <div class="card__time">
              <span class="card__current-time">5hrs</span>
              <span class="card__prev-time">Yesterday - 7hrs</span>
            </div>
          </div>
        </div>

        <div class="card card--exercise">
          <div class="card__body">
            <div class="card__timeframe">
              <h2 class="card__title">Work</h2>
              <figure class="card__img">
                <img width="21" height="5" src="../img/icon-ellipsis.svg" alt="Icon elipsis">
              </figure>
            </div>
            <div class="card__time">
              <span class="card__current-time">5hrs</span>
              <span class="card__prev-time">Yesterday - 7hrs</span>
            </div>
          </div>
        </div>
        <div class="card card--social">
          <div class="card__body">
            <div class="card__timeframe">
              <h2 class="card__title">Work</h2>
              <figure class="card__img">
                <img width="21" height="5" src="../img/icon-ellipsis.svg" alt="Icon elipsis">
              </figure>
            </div>
            <div class="card__time">
              <span class="card__current-time">5hrs</span>
              <span class="card__prev-time">Yesterday - 7hrs</span>
            </div>
          </div>
        </div>
        <div class="card card--self-care">
          <div class="card__body">
            <div class="card__timeframe">
              <h2 class="card__title">Work</h2>
              <figure class="card__img">
                <img width="21" height="5" src="../img/icon-ellipsis.svg" alt="Icon elipsis">
              </figure>
            </div>
            <div class="card__time">
              <span class="card__current-time">5hrs</span>
              <span class="card__prev-time">Yesterday - 7hrs</span>
            </div>
          </div>
        </div>
         
      </article>
    </section>
  </main>
</body>
</html>